@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,200&display=swap');

:root {
  --color-bg: #F5F5F5;
}

*{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  background-color: #eee5e8;
}

h1{
    font-size: 68px;
    font-weight: 700;
    line-height: 78.94px;
    color: #282828;
  }
  
  p{
    font-weight: 100;
    size: 30px;
    color: #282828;
    line-height: 34px;
  }
  
  li { list-style: none; }
  
  a {
    background-color: transparent;
    text-decoration: none;
    color: darkgoldenrod;
  }
  header{
    height: 69px;
    position: sticky;
    display: flex;
    justify-content: space-between;
  }
  
  header li {
    margin-top: 35%;
    margin-right: 35%;
    font-weight: 100;
    justify-content: flex-start;
    
    a{
      color: black;
    }
  
  }
  
  .logo{
    height: 50px;
    margin-left: 25px;
    margin-top: 20%;
  }
  
  .menu {
    display: flex;
    color: grey;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-end;
      justify-content: flex-start;
  }
  
  ul li a{
    text-decoration: none;
    color: black;
      font-weight: 400;
  }
  
  .menu li { margin-right: 30px; }
  
  .headlines__intro {
    font-size: 69px;
    font-weight: 400;
    line-height: 79px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 145px;
    margin-left: 70px;
    width:773px;
  }
    

//PART 4

.aboutme {

}

.aboutmePosition {
    text-align: right;
    display: flex;
    justify-content: end;
}

.aboutmePosition h2 {
    font-size: 150px;
}

.aboutme__container {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.projects__title,
.trailer__title {
  margin-top: 200px; 
  padding-top: 200px;
}

.underline {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, transparent 0%, transparent 55%, #f28482 55%, rgba(21300,130,1) 100%);

    background-size: 100%;
    color: black;
    background-repeat: no-repeat;
    font-size: 150px;
    width: 42%;
}

.aboutme__flex{
    display: flex;
}

.aboutme__flexItem{
  display: flex;
  justify-content: flex-end;
  align-items: start;
}

.aboutme__borderbot{
    border-bottom: 1px solid #000; 
    min-width: 500px;
}

.freelance {
  border-bottom: 1px solid #000;
  width: 672px;
}

.aboutme__item{
    margin-bottom: 20px;
}

.aboutme__title{
  margin-bottom: 20px;
}

.aboutme__titlelanguage{
  margin-right: 15px;

}

.aboutme__description{
  padding: 0 0 0 9%;
  margin-bottom: 100px;

}

.spacingLanguage{
  margin-right: 250px;
}

.product{
    border-bottom: 1px solid #000;
    width: 700px;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: start;
}

.flex {
  display: flex;
}

.aboutme__descriptionhobby{
  max-width: 500px;
}

/* Styles for page */ 
.container{ width: 70%; margin:150px auto;
}
$lightgrey: #dddddd;
$textcolor:#4B4B4B;