@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,200&display=swap');

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------*/
:root {
	--font_14:0.875rem;
	--font_16:1rem;
	--font_30:1.875rem;
	--font_36:2.25rem;
	--font_48:3rem;
	--40:2.5rem;
	--30:1.875rem;
	--margin_30:1.875rem;
	--margin-54:3.375rem;
	--margin-60:3.75rem;
	--margin-100:6.25rem;
	--margin-120:7.5rem;   
}
html {font-family: 'Inter', sans-serif;background-color:#FFF}
body {font-family: 'Inter', sans-serif;overflow-x: hidden; background-color:#FFF; font-weight:400;font-style: normal; color: #000; font-size: var(--font_14); margin: 0 auto;}



h1{
  font-size: 68px;
  font-weight: 700;
  line-height: 78.94px;
  color: #282828;
}

p{
  font-weight: 100;
  size: 30px;
  color: #282828;
  line-height: 34px;
}

li { list-style: none; }

a {
  background-color: transparent;
  text-decoration: none;
}


.logo{
  height: 50px;
  margin-left: 25px;
  margin-top: 20%;
}

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------*/

figure{ margin: 0 }
svg,img { max-width: 100%; height: auto; }
.ds-boder_text{ position: relative; display: inline-block; }
.ds-boder_text span{ position: relative; z-index: 1 }
.ds-boder_text:after{ content: ""; position: absolute; bottom: 0; left: 0; background-color:#F26464; height: 0.9375rem; width:100%;}
.margin-60{ margin-bottom: var(--margin-60);  }
.padding-0{ padding-top: 0 }
.ds-view-button{font-weight: 600; font-size: 1rem; color: #000}
.ds-view-button i{ display: inline-block; vertical-align: middle; color: #00B7CC; font-size: 1.625rem; }
.ds-view-button:hover{color: #00B7CC; }
.text-left{ text-align: left; }
.ds-arrow {background: #F26464; height:0.125rem;width:3.125rem;position: relative;cursor: pointer; display: inline-block; vertical-align: middle;transition-delay: 0s;transition-duration: 0.4s;transition-property: all;transition-timing-function: ease; margin-left:0.5rem}
.ds-arrow:before, .ds-arrow:after {content: "";background: #F26464; position: absolute;height:0.125rem;width:0.8125rem;}
.ds-arrow:before {right: -0.25rem;bottom: -0.25rem;transform: rotate(-45deg);}
.ds-arrow:after {right: -0.25rem;top: -0.25rem;transform: rotate(45deg);}
.ds-button-arrow:hover .ds-arrow{ margin-left:0.9375rem }

.ds-back-to-home{ display: inline-block; padding:0.625rem 1.25rem; border-radius: 100%; border: 1px solid #000; font-size: 1.875rem; color: #000 }
.ds-back-to-home:hover{ color: #000 }
/*-----------------------------------------------------------------
  1. >>> Headr Style
----------------------------------------------------------------*/
.ds-header{ position: fixed; top: 0; width: 100%; z-index: 5; background-color: transparent; padding: 50px 0;transition-delay: 0s;transition-duration: 0.4s;transition-property: all;transition-timing-function: ease;}
.ds-header.ds-fixed-header{ padding:20px 0;box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25); }
.ds-header-inner{ display: flex; justify-content: space-between; align-items: center; }
.ds-logo{ text-transform: uppercase; font-size: 18px; letter-spacing: 3px; color: #000; display: flex; align-items: center; }
.ds-logo span{ display:flex; align-items: center; justify-content: center; width: 40px; height: 40px; background-color: #000; border-radius: 4px; color: #FFF; font-size: 22px; font-weight: 600; text-align: center; margin-right: 12px; }
.ds-logo:hover{ color: #000; }

.ds-social{ list-style: none; display: flex; align-items: center; flex-wrap: wrap; }
.ds-social li{ margin-left: 12px; }
.ds-social li:first-child{ margin-left: 0; }
.ds-social li a{ display:flex; justify-content: center; align-items: center; text-align: center; font-size: 16px; color: #000;}
.ds-social li a:hover{ color: #000; }
.ds-social li:before{ content:  ""; }
/*-----------------------------------------------------------------
  2. >>> Banner Style
----------------------------------------------------------------*/
.banner {width: -webkit-fill-available; height: 600px;background-image: url("./images/wegrowhigh.png"); background-size: cover;}

.ds-banner-section{ margin-top: 250px; text-align: left; margin-bottom: var(--margin-120);  }
.ds-heading,.ds-heading-inner{ font-size: 4.375rem; line-height:6rem; margin-bottom:3.1875rem;}
.ds-heading span{ border-bottom:15px solid #F26464;}


.ds-banner-section figure{ margin-bottom: var(--margin-54) }
.ds-banner-section p{font-size:var(--font_16);line-height:var(--30); margin-bottom: var(--30); }
.ds-button{ display: inline-block; text-transform: uppercase; color: #FFF; background-color: #45CD86; border-radius:var(--font_30); padding:1.125rem 3.625rem; font-weight: 700; letter-spacing: 1px }
.ds-button:hover{ color: #FFF; background-color:#3bb173  }
.ds-content-width p{ width:570px }

.ds-project-list{ display: grid;grid-template-columns: auto auto; margin:0 -0.75rem}
.ds-project-list-loop{ padding: 0 0.75rem; }
.ds-project-list-loop:nth-child(even){ margin-top:- var(--margin-120) }
.ds-project-list-loop:nth-child(odd){ margin-top: var(--margin-120) }
.ds-project-list-loop-inner{ background-color:#FFF; box-shadow: 0px 0px 1px #cecaca;transition-delay: 0s;transition-duration: 0.8s;transition-property: all;transition-timing-function: ease;transform: translateY(0); }
.ds-project-list-loop-inner section{padding:1.875rem   }
.ds-project-list-loop a{ color: #000 }
.ds-project-list-loop:hover .ds-project-list-loop-inner{/*box-shadow: 0px 0px 20px #cecaca;*/transform: translateY(-1.25rem);}
/*-----------------------------------------------------------------
  3. >>> About Style
----------------------------------------------------------------*/
.ds-proj-hedding{ font-size:1.625rem; margin-bottom:0.5rem;font-family: 'Inter', sans-serif; font-weight: 600 }
.ds-tools{ font-weight:400; font-size: 1.125rem; display: block; }
.ds-about-section{ margin-top:8.8125rem }
.ads-bout-section .ds-heading-inner,.ds-back-home{ margin-bottom: var(--margin-54) }


.ds-left-right-section .ds-hedding{font-size:3rem; position:relative; margin-bottom:0.875rem;font-family: 'DM Serif Display', serif;}
.ds-left-right-section {margin-bottom: var(--margin-120);}
.ds-left-right-section  figure{ margin-bottom: var(--margin-60); }
.ds-left-right-section .ds-tools{ font-weight: 700 }
.ds-left-right-section  p{ font-size: 1.375rem; line-height:var(--font_36); margin-bottom: 2.5rem }
/*-----------------------------------------------------------------
  4. >>> Project Style
----------------------------------------------------------------*/
.ds-case-studies-list{margin-bottom: var(--margin-120);}
.ds-case-studies-list figure{ margin-bottom: var(--margin-60); }
.ds-hedding{ font-size: var(--font_48); margin-bottom: var(--font_14); }
.ds-tools{ font-weight: 700 }
.ds-case-studies-list p{ font-size: 1.375rem; line-height:var(--font_36); margin-bottom: 2.5rem }
.ds-view-button{font-weight: 600; font-size: 1rem; color: #000}
.ds-view-button i{ display: inline-block; vertical-align: middle; color: #00B7CC; font-size: 1.625rem; }
.ds-view-button:hover{color: #00B7CC; }

.ds-case-studies-details{ padding-bottom: 5.25rem; }
.ds-case-studies-details .ds-case-studies-list{ margin-bottom: 2.75rem; }
.ds-case-studies-details .ds-tools{ margin-bottom: var(--margin-60); display: block; }

/*-----------------------------------------------------------------
  5. >>> Footer Style
----------------------------------------------------------------*/
.ds-footer{ background-color: #FFF; padding:var(--margin-120) 0; }
.ds-padding-0-about.ds-footer{ padding-top: 0 }
.ds-lets_section h4{ color: #000;font-family: 'Inter', sans-serif; font-weight: 700; font-size:4.375rem; margin-bottom: 1.0625rem  }
.ds-lets_section span{ color: #000; font-size:1.125rem;  }

.ds-email_social{ display: flex; justify-content: space-between; align-items: center; padding:6.375rem 0; padding-bottom: 2.5rem }
.ds-email{ color: #000; font-size: var(--font_30); font-weight: 600; display: inline-block; }
.ds-email:hover{color: #000;}
.ds-social{list-style: none; padding: 0; margin: 0; display: flex;}
.ds-email_social .ds-social li{ margin-right:4rem; }
.ds-social li:last-child{ margin-right: 0 }
.ds-social a{ color: #797979; font-size: 2.5625rem; }
.ds-social a:hover{ color: #000 }
.ds-copyright{ display: block; text-align: right; color:#2B2B2B; font-size:1.125rem }
.ds-copyright a{color:#2B2B2B;}
.ds-copyright a:hover{color:#2B2B2B; text-decoration: underline;}
/*-------------------------------------------------------------------------------
 XS Style @media (max-width: 767px) 
-------------------------------------------------------------------------------*/
@media (max-width: 767px) {
.row{ margin-left:0; margin-right:0  }
.container{ padding-left:1.25rem; padding-right: 1.25rem;  }
.ds-header{ padding:3.75rem 0  }
.ds-heading{font-size: 2.375rem;line-height: 4rem;}
.ds-heading-inner{font-size: 3.375rem;line-height: 6rem;}
.ds-about-section .ds-heading-inner{ margin-bottom:3.75rem }
.ds-about-section{ margin-top: 5.8125rem }
.ds-case-studies-details .ds-tools{ margin-bottom: 1.875rem }
.ds-heading span br{ display: none; }
.ds-banner-section{ margin-bottom: var(--margin_30) }
.ds-content-width p{width: 100%}
.ds-lets_section h4{font-size: 3.375rem;}
.ds-project-list{ grid-template-columns: auto; }

.ds-project-list-loop:nth-child(even),.ds-project-list-loop:nth-child(odd){ margin: 0; margin-bottom:1.875rem  }

.ds-case-studies-details .ds-case-studies-list{ margin-bottom: -0.25rem }
.d-flex{ flex-wrap:wrap; }
.ds-left-right-section section{ margin-bottom:1.875rem  }
.ds-left-right-section{ margin-bottom:1.875rem  }
.ds-footer{ padding-top:1.875rem }
.ds-email_social{justify-content: center;flex-wrap: wrap; padding: 4.375rem 0}
.ds-copyright{ text-align: center; }
.ds-social{ margin-top: 1.25rem }
}


@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {


}


/* -------------------------------------------------------- */


.tabList {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabList ul li {
  margin-left: 10px;
  font-size: 30px;
  margin-top: 150px;
}

/* demo */

.tabListMain{
  padding-top: 150px;

  font-family: 'Montserrat', sans-serif;
  margin: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navtabs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 10px 20px;
  position: relative;
}
.navtab {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}
.navtab:hover {
  color: #007BFF;
}
.navtab.active {
  color: #007BFF;
  font-weight: 600;
}
.underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  background: #007BFF;
  transition: left 0.3s ease, width 0.3s ease;
}
.content {
  display: none;
  padding: 100px 20px 20px;
  max-width: 800px;
  text-align: center;
}
.content.active {
  display: block;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card img {
  max-width: 338px;
    margin-right: 20px;
    max-height: 300px;
}


/* --------------------------------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@900&display=swap');

#codepen {
  height: 200vh;
}

#codepen .container {
  /* hide fixed overflow contents */
  clip: rect(0, auto, auto, 0);

  /* does not work if overflow = visible */
  overflow: hidden;

  /* only works with absolute positioning */
  position: absolute;

  /* Make sure containers are full-width and height */
  height: 100vh;
  left: 0;
  width: 100%;
  
  
  /* safari hack */
  -webkit-mask-image: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%);
}

#codepen .container_solid {
  background: white;
  
  /* position this container at the top of its parent element */
  top: 1000px;
}

#codepen .title_wrapper {
  position: fixed;
  display: block;  
  margin: auto;
  width: 100%;
  /* center the text wrapper vertically */
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

#codepen .title_wrapper h1 {
  text-align: center;
  font-size: 64px;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Fraunces', serif;
  font-weight: 900;
}

#codepen .container_solid .title_wrapper h1 {
  /* the text background */
  background: url(https://images.unsplash.com/photo-1575058752200-a9d6c0f41945?&q=85);
  background-size: 100vw auto;
  background-position: center;
  
  /* clip the text is possible */
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  
  /* fallback text color */
  color: black;
}

#codepen .container_image {
  /* Grab a free image from unsplash */
  background-image: url(https://images.unsplash.com/photo-1575058752200-a9d6c0f41945?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
  background-size:100vw auto;
  background-position: center;
  background-attachment: fixed;
  
  /* position the second container below the first container */
  top: 1200px;
}

#codepen .container_image .title_wrapper h1 {
  color: white;
}

#codepenSection {
  min-height: 100vh;
  padding: 2em;
  margin: auto;
  max-width: 800px;
}

#codepenSection h2 {
  font-family: 'Fraunces', serif;
}

#codepenSection p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/* ------------------ CARD HEADER --------------------*/

.card-header {
  text-align: left;
}

/* ------------------- BUTTON ----------------------- */

<!-- HTML !-->
<button class="button-51" role="button">Button 51</button>

/* CSS */
.button-51 {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Avenir Next LT W01 Bold",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: #6DCFF6;
}

@media (min-width: 768px) {
  .button-51 {
    padding: 16px 32px;
  }
}


/* --------------------- Fade In */

.monstera {
  opacity:0;
  transition: 300ms opacity;
  }