@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,200&display=swap');

:root {
  --color-bg: #F5F5F5;
}

*{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0; 
 // background-color: var(--color-bg);
  background-color: #eee5e8;
}

h1{
  font-size: 68px;
  font-weight: 700;
  line-height: 78.94px;
  color: #282828;
}

p{
  font-weight: 100;
  size: 30px;
  color: #282828;
  line-height: 34px;
}

li { list-style: none; }

.partone{
  min-height: 856px;
}

header{
  height: 69px;
  border-bottom1px solid seashell;
  position: sticky;
  display: flex;
  justify-content: space-between;
}

header li {
  margin-top: 35%;
  margin-right: 35%;
  font-weight: 100;
  justify-content: flex-start;
  
  a{
    color: black;
  }

}

.logo{
  height: 50px;
  margin-left: 25px;
  margin-top: 20%;
}

.menu {
  display: flex;
  color: grey;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
    justify-content: flex-start;
}

ul li a{
  text-decoration: none;
  color: black;
    font-weight: 400;
}

.menu li { margin-right: 30px; }

.headlines__intro {
  font-size: 69px;
  font-weight: 400;
  line-height: 79px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 145px;
  margin-left: 70px;
  width:773px;
}

// PART 2

.parttwo,
.parthree,
.partfour {
  min-height: 791.58px;
  padding: 165px 75px;
  margin-bottom: 50px;
}

.underline {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, transparent 0%, transparent 55%, rgba(21,101,192,1) 55%, rgba(21,101,192,1) 100%);
  background-position: bottom;
  background-size: 100%;
  color: white;
  background-repeat: no-repeat;
  font-size: 50px;
  }

.projects__title, 
.contentCreation__titleUnderline {
  color: black;
  padding: 15% 8%;
  width: 100%;
  font-weight: 400;
  font-size: 45.0633px;
  line-height: 52px;
  position: relative;
}

.projects__line,
.contentCreation__line{
  width: 120px; 
  height: 2px;
  background-color: black;
  position: absolute;
}

.projects__paragraph, 
.contentCreation__description{
  margin-inline: 10%;
}

.projects__container{

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project__item{
  width: calc(33% - 10px);
  margin-bottom: 20px;
}
.project__itemTitle{
    position: relative;
    top: 94%;
    background: transparent;
    text-transform: uppercase;
    text-align: center;
    color: darkgoldenrod;
}


.project__itemMedia {
  height: 600px; /* set a fixed height for the image container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__itemMedia img{
  padding top : 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;

  height: 100%;
  object-fit: cover; /* set object-fit to cover */
}

//PART 3
.contentCreation {
  padding: 10% 10%;
}

.contentCreation__description{
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}

.contentCreation__itemMedia {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentCreation__itemMedia img {
  height: 100%;
  width: 80%;
  object-fit: cover;
  border-radius: 5px;
}

//PART 4

.aboutme {

}

.aboutme__container {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.aboutme__item{
    margin-bottom: 20px;
}

.aboutme__title{
  margin-bottom: 20px;
}

.aboutme__description{
  padding: 0 0 0 9%;
}

/* Styles for page */ 
.container{ width: 70%; margin:150px auto;
}
$lightgrey: #dddddd;
$textcolor:#4B4B4B;

