@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,400;0,700;1,200&display=swap');

:root {
  --color-bg: #F5F5F5;
}

*{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 22px;
  background-color: #eee5e8;
}

h1{
  font-size: 68px;
  font-weight: 700;
  line-height: 78.94px;
  color: #282828;
}

p{
  font-weight: 100;
  size: 30px;
  color: #282828;
  line-height: 34px;
}

li { list-style: none; }

a {
  background-color: transparent;
  text-decoration: none;
  color: darkgoldenrod;
}

.partone{
  min-height: 856px;
}

header{
  height: 69px;
  border-bottom1px solid seashell;
  position: sticky;
  display: flex;
  justify-content: space-between;
}

header li {
  margin-top: 35%;
  margin-right: 35%;
  font-weight: 100;
  justify-content: flex-start;
  
  a{
    color: black;
  }

}

.logo{
  height: 50px;
  margin-left: 25px;
  margin-top: 20%;
}

.menu {
  display: flex;
  color: grey;
  justify-content: space-around;
  flex-direction: row;
  align-items: flex-end;
    justify-content: flex-start;
}

ul li a{
  text-decoration: none;
  color: black;
    font-weight: 400;
}

.menu li { margin-right: 30px; }

.headlines__intro {
  font-size: 69px;
  font-weight: 400;
  line-height: 79px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 145px;
  margin-left: 70px;
  width:773px;
}

//margin pour chaque section
.projects__title,
.contentCreation__title,
.trailer__title span {
  margin-top: 200px; 
  padding-top: 200px;
}
.contentCreation__title,
.trailer__title,
.projects__title{
  text-align: center;
}

// PART 2

.parttwo,
.parthree,
.partfour,
.partfive {
  min-height: 791.58px;
  padding: 165px 75px;
  margin-bottom: 50px;
  margin-top: 150px;
  margin-left: 2em;
}

.underline {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, transparent 0%, transparent 55%, #f28482 55%, rgba(21300,130,1) 100%);

  background-size: 100%;
  color: black@;
  background-repeat: no-repeat;
  font-size: 50px;
  }


.projects__paragraph, 
.contentCreation__description{
  margin-inline: 10%;
}

.projects__container{
  margin-bottom: 200px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project__item{
  width: calc(33% - 10px);
  margin-bottom: 20px;
}
.project__itemTitle{
    position: relative;
    top: 94%;
    background: transparent;
    text-transform: uppercase;
    text-align: center;
    color: darkgoldenrod;
}


.project__itemMedia {
  height: 600px; /* set a fixed height for the image container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.project__itemMedia img{
  padding top : 25px;
  width: 100%;
  height: 100%;
  object-fit: cover;

}

//PART 3
.contentCreation {
  padding: 10% 10%;
}

.contentCreation__description{
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}

.contentCreation__itemMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;

}

.contentCreation__itemMedia img {
  height: 100%;
  width: 80%;
  object-fit: cover;
  border-radius: 5px;
}

//PART 4

.aboutme {

}

.aboutme__container {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.aboutme__item{
    margin-bottom: 20px;
}

.aboutme__title{
  margin-bottom: 20px;
}

.aboutme__description{
  padding: 0 0 0 9%;
  margin-bottom: 200px;

}

/* Styles for page */ 
.container{ width: 70%; margin:150px auto;
}
$lightgrey: #dddddd;
$textcolor:#4B4B4B;

//PART FIVE

.trailer__title {
  margin-bottom: 25px;
}

.trailer__media {
  padding-top: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.trailer__description {
  text-align: center;
}

// -------------- FOOTER ------------------

:root {
  --light: #ffffff;
  --dark: #000;
}
.footer {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer h3 {
  font-family: "Noto Serif Display", serif;
  font-size: 2.3rem;
  font-weight: 300;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 400;
  transition: 0.3s ease-in;
  border-bottom: 1px solid transparent;
  margin-bottom: 0.5rem;
  display: inline-flex;
}
.footer a:hover {
  border-bottom: 1px solid var(--dark);
}
.footer ul {
  list-style-type: none;
  padding: 0;
}
.footer button {
  appearance: none;
  border: 0;
  background: transparent;
}
.footer .flex {
  display: flex;
}
.footer .footer_video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  border: none;
}
.footer .footer_inner {
  background: var(--light);
  backdrop-filter: blur(50px);
  border: 0.1px solid rgba(233, 232, 232, 0.208);
  border-radius: 5px;
  padding: 2rem;
  margin: 1rem 0;
}
.footer .footer {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.footer .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.footer form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(100%, 400px);
  border-bottom: 1px solid var(--dark);
}

.footer input {
  padding: 0.75rem 0;
  border: none;
  background: none;
  font-weight: 500;
  transition: border 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 0;
  width: 100%;
  font-size: 1.05rem;
  font-weight: bolder;
}
.footer input:focus {
  outline: none;
}
.footer input::placeholder {
  color: var(--dark);
}
@media (min-width: 675px) {
  .footer .layout {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 2rem;
  }
  .footer .w-50 {
    width: 50%;
  }
  .footer .w-25 {
    width: 25%;
  }
}
.footer form {
  position: relative;
}
.footer svg {
  margin: 0.5rem;
}
.footer .c-2 {
  margin-top: 3.5rem;
}
.footer .footer_copyright {
  color: var(--light);
}